= render partial: "common/sidebar"
.chatspace__right
  .chatspace__right__top
    .chatspace__right__top__left
      .chatspace__right__top__left__top1character
        = @group.name
      .chatspace__right__top__left__member
        Memgers
        - @group.users.each do |user|
          = user.name
    .chatspace__right__top__right
      .chatspace__right__top__right__edit
        %p.chatspace__right__top__right__edit__hole
        =link_to "Edit", edit_group_path(@group)
  .chatspace__right__bottom
    .chatspace__right__bottom__message
      = render @messages
    = form_for [@group, @message], html: {id: 'new_form'} do |f|
      .chatspace__right__bottom__mostbox
        .chatspace__right__bottom__mostbox__messagebox
          = f.label :image, for: "file-input", class: "fa fa-file-picture-o" do
            = f.file_field :image, id: "file-input"
          %p.chatspace__right__bottom__mostbox__messagebox__type
            = f.text_field :body, placeholder: "type a message"
        .chatspace__right__bottom__mostbox__sendbox
          %p.chatspace__right__bottom__mostbox__sendbox__sendbutton
            = f.submit "Send"
